
GEMINI_API_KEY=<GEMINI_API_KEY>
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=<LANGSMITH_API_KEY>
LANGSMITH_PROJECT="LEDSRequirementsAgents"

ALLOWED_HOSTS=*

USE_SQLITE=True

DB_ENGINE_LOCAL=django.db.backends.sqlite3
DB_HOST_LOCAL=''
DB_NAME_LOCAL='sqlite3.db'
DB_USER_LOCAL=
DB_PASSWORD_LOCAL=
DB_PORT_LOCAL=


DB_ENGINE_TEST=django.db.backends.sqlite3
DB_HOST_TEST=''
DB_NAME_TEST='sqlite3.db'
DB_PASSWORD_TEST=''
DB_PORT_TEST=''
DB_USER_TEST=''

DB_ENGINE_PRODUCTION=django.db.backends.postgres
DB_HOST_PRODUCTION=
DB_NAME_PRODUCTION=
DB_PASSWORD_PRODUCTION=
DB_PORT_PRODUCTION=
DB_USER_PRODUCTION= 

DEBUG=True
SECRET_KEY=3izb^ryglj(bvrjb2_y1fZvcnbky#358_l6-nn#i8fkug4mmz!

DEFAULT_FROM_EMAIL=xxxxxxx@xxxx.com
EMAIL_HOST=xxxx
EMAIL_HOST_PASSWORD=xxxx
EMAIL_HOST_USER=xxxx
EMAIL_PORT=587
EMAIL_USE_TLS=True        
HASHIDS_SALT=hA8(scA@!fg3*sc&xaGh&6%-l<._&xCf,

DJANGO_SETTINGS_MODULE = rai.settings.local

URL_VALIDATION=
URL=

CORS_ORIGIN=<FRONTEND-URL> #Example: https://localhost:5173